apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "dependency-track.frontend.fullname" $ }}-frontend
  labels:
    {{- include "dependency-track.frontend.labels" . | nindent 8 }}
  {{- with .Values.frontend.annotations }}
  annotations: {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.frontend.replicaCount }}
  selector:
    matchLabels:
      {{- include "dependency-track.frontend.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "dependency-track.frontend.labels" . | nindent 8 }}
    spec:
      {{- with .Values.global.imagePullSecrets }}
      imagePullSecrets: {{- toYaml . | nindent 6 }}
      {{- end }}
      {{- if .Values.frontend.serviceAccount.create}}
      serviceAccountName: {{ include "dependency-track.frontend.fullname" $ }}-frontend
      {{- end }}
      securityContext: {{- toYaml .Values.frontend.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}-frontend
          securityContext: {{- toYaml .Values.frontend.securityContext | nindent 12 }}
          {{- with .Values.frontend.resources }}
          resources: {{ . | toYaml | nindent 12 }}
          {{- end }}
          image: {{ .Values.frontend.image.repository }}
          imagePullPolicy: {{ .Values.frontend.image.pullPolicy }}
          {{- with .Values.frontend.env }}
          env:
            {{- toYaml . | nindent 10 }}
          {{- end }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          {{- if .Values.frontend.livenessProbe.enabled }}
          livenessProbe:
            httpGet:
              port: http
              path: {{ .Values.frontend.livenessProbe.path }}
            initialDelaySeconds: {{ .Values.frontend.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.frontend.livenessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.frontend.livenessProbe.timeoutSeconds }}
            successThreshold: {{ .Values.frontend.livenessProbe.successThreshold }}
            failureThreshold: {{ .Values.frontend.livenessProbe.failureThreshold }}
          {{- end }}
          {{- if .Values.frontend.readinessProbe.enabled }}
          readinessProbe:
            httpGet:
              port: http
              path: {{ .Values.frontend.readinessProbe.path }}
            initialDelaySeconds: {{ .Values.frontend.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.frontend.readinessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.frontend.readinessProbe.timeoutSeconds }}
            successThreshold: {{ .Values.frontend.readinessProbe.successThreshold }}
            failureThreshold: {{ .Values.frontend.readinessProbe.failureThreshold }}
          {{- end }}
            {{- range $value := .Values.frontend.persistence }}
            {{- if $value.enabled }}
          volumeMounts:
            - name: {{ include "dependency-track.frontend.fullname" $ }}-{{ $value.name }}
              mountPath: {{ $value.mountPath }}
            {{- end }}
            {{- end }}
      {{- with .Values.frontend.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.frontend.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.frontend.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- range $value := .Values.frontend.persistence }}
      {{- if $value.enabled }}
      volumes:
        - name: {{ include "dependency-track.frontend.fullname" $ }}-{{ $value.name }}
          persistentVolumeClaim:
            claimName: {{ include "dependency-track.frontend.fullname" $ }}-{{ $value.name }}
      {{- end }}
      {{- end }}
