# Default values for satisfactory.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: wolveix/satisfactory-server
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}
podLabels: {}

podSecurityContext:
  fsGroup: 1000

# Available Environment variables: (https://github.com/wolveix/satisfactory-server?tab=readme-ov-file#environment-variables)
# AUTOPAUSE: true # -- pause game when no player is connected
# AUTOSAVEINTERVAL: 300 # -- autosave interval in seconds
# AUTOSAVENUM: 3 # -- number of rotating autosave files
# AUTOSAVEONDISCONNECT: true # -- autosave when last player disconnects
# CRASHREPORT: true # -- automatic crash reporting
# DEBUG: false # -- for debugging the server
# DISABLESEASONALEVENTS: false # -- disable the FICSMAS event (you miserable bastard)
# MAXPLAYERS: 4 # -- set the player limit for your server
# PGID: 1000 # -- set the group ID of the user the server will run as
# PUID: 1000 # -- set the user ID of the user the server will run as
# SERVERBEACONPORT: 15000 # -- set the game's beacon port
# SERVERGAMEPORT: 7777 # -- set the game's port
# SERVERIP: 0.0.0.0    # -- set the game's ip (usually not needed)
# SERVERQUERYPORT: 15777 # -- set the game's query port
# SKIPUPDATE: false # -- avoid updating the game on container start/restart
# STEAMBETA: false # -- set experimental game version
# ROOTLESS: true # needs to be set to run rootless
# ...
env:
  #- name: AUTOPAUSE
  #  value: "false"
  # ...

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
    - ALL
  # needs to be set to false that steamcmd can write to /home/steam
  readOnlyRootFilesystem: false
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
  seccompProfile:
    type: RuntimeDefault

service:
  # NodePort, LoadBalancer
  type: NodePort
  # ExternalIP can be added if LoadBalancer as type is used
  #externalIPs:
  #  - 192.168.178.0
  ports:
    - name: beacon-port
      port: 15000
      targetPort: 15000
      protocol: UDP
    - name: game-port
      port: 7777
      targetPort: 7777
      protocol: UDP
    - name: query-port
      port: 15777
      targetPort: 15777
      protocol: UDP

resources: {}
  # Recent updates consume 4GB - 6GB RAM, but the official wiki (https://satisfactory.wiki.gg/wiki/Dedicated_servers#Requirements) recommends allocating 12GB - 16GB RAM.
  # limits:
  #   cpu: 500m
  #   memory: 16Gi
  # requests:
  #   cpu: 500m
  #   memory: 12Gi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

persistence:
  - name: config
    enabled: false
    annotations: {}
    accessModes:
      - ReadWriteOnce
    storageClass: ""
    size: 1Gi
  - name: server-cache
    enabled: false
    annotations: {}
    accessModes:
      - ReadWriteOnce
    storageClass: ""
    size: 20Gi


nodeSelector: {}

tolerations: []

affinity: {}
